Django==4.0.4
django-debug-toolbar==3.4.0
djangorestframework==3.13.1
drf-spectacular==0.22.1
Pillow==11.0.0
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
pep8-naming==0.13.2
psycopg==3.1.12
psycopg-binary==3.1.12
djangorestframework-simplejwt==5.3.1
typing_extensions~=4.12.2
pip~=24.0
attrs~=24.3.0
redis~=5.2.1
pytz~=2024.2
PyYAML~=6.0.2
sqlparse~=0.5.1
asgiref~=3.8.1
pyflakes~=2.5.0
pycodestyle~=2.9.1
referencing~=0.35.1
jsonschema~=4.23.0
idna~=3.10
setuptools~=65.5.0
uritemplate~=4.1.1
requests~=2.32.3
inflection~=0.5.1
PyJWT~=2.10.1
python-dotenv~=1.0.1